<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Import Bootstrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Snake Game</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand">Snake Game</a>
            <a href="./login">
                <button type="button" class="btn btn-default navbar-btn navbar-right">
                    Sign In
                </button>
            </a>

            <a href="./register">
                <button type="button" class="btn btn-default navbar-btn navbar-right">
                    Sign Up
                </button>
            </a>
        </div>
    </div>
</nav>
<div class="container d-flex flex-row">
    <div class="container col-md-3 float-left">
        <p>
        <h3>Player Scoreboard</h3>
        <table id="scoreboard" class="table table-striped table-bordered">
            <thead class="thead-inverse">
            <tr><th>Username</th>
                <th>High Score</th>
            </tr>
            </thead>
            <tbody>
            <tr><td>username</td>
                <td>high score</td>
            </tr>
            <tr><td>username</td>
                <td>high score</td>
            </tr>
            <tr><td>username</td>
                <td>high score</td>
            </tr>
            <tr><td>username</td>
                <td>high score</td>
            </tr>
            </tbody>
        </table>
        </p>
    </div>

    <div class="container col-md-5 center-div">
        <div id="gameboard" name="gameboard" class="game-space"></div>
        <button id="gamestart">Start Game!</button>
    </div>

    <div class="container col-md-4 float-right">
        <p>
        <h3>Premium Scoreboard</h3>
        <table id="premiumScoreboard" class="table table-striped table-bordered">
            <thead class="thead-inverse">
            <tr><th>Username</th>
                <th>Longest Snake</th>
                <th>Total Snake Length</th>
            </tr>
            </thead>
            <tbody>
            <tr><td>username</td>
                <td>longest snake</td>
                <td>total snake</td>
            </tr>
            <tr><td>username</td>
                <td>longest snake</td>
                <td>total snake</td>
            </tr>
            <tr><td>username</td>
                <td>longest snake</td>
                <td>total snake</td>
            </tr>
            <tr><td>username</td>
                <td>longest snake</td>
                <td>total snake</td>
            </tr>
            </tbody>
        </table>
        </p>
    </div>
</div>

<!-- Javascript, JQuery & Ajax -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="model/snake-game.js"></script>

</body>
</html>