<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Import Bootstrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="./">Snake Game</a>
            <a href="./login">
                <button type="button" class="btn btn-default navbar-btn navbar-right">
                    Sign In
                </button>
            </a>
            <a href="./register">
                <button type="button" class="btn btn-default navbar-btn navbar-right">
                    Sign Up
                </button>
            </a>
        </div>
    </div>
</nav>
<form action="./login" method="POST">
    <label>Username: <input type="text" name="username"></label><br>
    <label>Password: <input type="password" name="password"></label><br>
    <input type="submit" name="submit" value="Login">
</form>
</body>
</html>