<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Import Bootstrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
<check if="{{ @loggedin }}">
    <true>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./">Snake Game</a>
                    <a href="./profile">
                        <button type="button" class="btn btn-default navbar-btn navbar-right">
                            Your Profile
                        </button>
                    </a>
                    <a href="./users">
                        <button type="buttoon" class="btn btn-default navbar-btn navbar-right">
                            View All Users
                        </button>
                    </a>
                    <a href="./logout">
                        <button type="button" class="btn btn-default navbar-btn navbar-right">
                            Logout
                        </button>
                    </a>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-default">
            <p class="text-center"><b>Welcome, {{ @username }}!</b></p>
        </nav>
    </true>
    <false>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./">Snake Game</a>
                    <a href="./login">
                        <button type="button" class="btn btn-default navbar-btn navbar-right">
                            Sign In
                        </button>
                    </a>
                    <a href="./register">
                        <button type="button" class="btn btn-default navbar-btn navbar-right">
                            Sign Up
                        </button>
                    </a>
                </div>
            </div>
        </nav>
    </false>
</check>
<div class="container">
    <div class="col-md-8 center-div">
        <div class="card">
            <div class="card-header">
                <h4>{{ @username }}'s Profile</h4>
            </div>
            <div class="card-block col-md-12">
                <div class="col-md-6">
                    <p><b>Username:</b> {{ @username }}</p>
                    <p><b>Highscore:</b> {{ @highscore }}</p>
                    <p><b>Premium Status: </b> {{ @premium }}</p>
                </div>
                <div class="col-md-6 pull-right">
                    <p><b>Food Eaten:</b> {{ @totalSnake }}</p>
                    <p><b>Cells Traveled:</b> {{ @cellsTraveled }}</p>
                    <p><b>Biography: </b> {{ @bio }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>