<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Import Bootstrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">

    <title>Register for a Snake</title>
</head>
<body>
<check if="{{ @loggedin }}">
    <true>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./">Snake Game</a>
                    <a href="./profile">
                        <button type="button" class="btn btn-default navbar-btn navbar-right">
                            Your Profile
                        </button>
                    </a>
                    <a href="./users">
                        <button type="buttoon" class="btn btn-default navbar-btn navbar-right">
                            View All Users
                        </button>
                    </a>
                    <a href="./logout">
                        <button type="button" class="btn btn-default navbar-btn navbar-right">
                            Logout
                        </button>
                    </a>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-default">
            <p class="text-center"><b>Welcome, {{ @username }}!</b></p>
        </nav>
    </true>
    <false>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./">Snake Game</a>
                    <a href="./login">
                        <button type="button" class="btn btn-default navbar-btn navbar-right">
                            Sign In
                        </button>
                    </a>
                    <a href="./register">
                        <button type="button" class="btn btn-default navbar-btn navbar-right">
                            Sign Up
                        </button>
                    </a>
                </div>
            </div>
        </nav>
    </false>
</check>
    <div class="col-md-12">
        <form action="./register" method="POST">
           <div class="col-md-6">
               <label>Username: </label><br>
               <input type="text" id="username" name="username" value="{{ @username }}">
               <br>
               <label>Password: </label><br>
               <input type="password" id="password" name="password"
                      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                      title="Must contain at least one number and one uppercase and
                      lowercase letter, and at least 8 or more characters" required>
               <br>
               <label>Re-Enter Password: </label><br>
               <input type="password" id="confirmPass" name="confirmPass">

           </div>
            <div class="col-md-6">
                <label>Bio: </label>
                <textarea id="bio" name="bio" class="form-control" rows="5">{{ @bio }}</textarea>
                <br>
                <label><input type="checkbox" name="premium" id="premium"> Premium Member?</label>
            </div>
            <input type="submit" name="submit" value="Submit">
        </form>
    </div>

</body>
</html>